[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
requests = "*"
pandas = "*"
plotly = "*"
gremlinpython = "*"

[dev-packages]
coala-bears = "*"
