/* d3.css */

.links {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;

}


.nodes circle {
    fill: darkslateblue;
    stroke: none;
}

.nodes circle.is-leaf {
    fill-opacity: 0;  /* transparent fill */

    stroke: darkslateblue;
    stroke-width: 2px;
}

.nodes text {
    font: 13px sans-serif;

    z-index: 1 !important;
}

