/* d3.css */

.links {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;

}

.nodes {
    fill: darkslateblue;
    stroke: none;
}

.nodes text {

    font: 13px sans-serif;

    z-index: 1 !important;
}

